.about_main {
    font-size: 16px;
}

.about_subheading {
    font-size: 24px !important;
    font-weight: 600 !important;
    text-align: center !important;
}

.about_img {
    width: 100% !important;
    height: 200px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    overflow: hidden !important;
}

.about_img img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 50% !important;
    flex-shrink: 0 !important;
    -webkit-flex-shrink: 0 !important;
    width: 170px !important;
    height: 170px !important;
}

.about_text {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 16px !important;
    text-align: justify !important;
    width: 95% !important;
}

.about_name {
    font-size: 18px !important;
    font-weight: bold !important;
    text-align: center !important;
}

@media (max-width: 768px) {
    .about-container {
        padding: 0px !important;
    }
}
